
/* margin */

.m-r-5{
    margin-right: 5px;
}
.m-r-10{
    margin-right: 10px;
}
.m-r-15{
    margin-right: 15px;
}
.m-r-20{
    margin-right: 20px;
}
.m-r-30{
    margin-right: 30px;
}


/* padding */
.p-r-0{
    padding-right: 0;
}

.p-l-0{
    padding-left: 0;
}


/* flex */

.flex-item{
    display: flex;
    justify-content: center;
    align-items: center;
}