@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Bebas+Neue&family=Cairo:wght@200..1000&display=swap');

:root {
    --main-color: #243447;
    --second-color: #38bdf8;
}



body {
    font-family: cairo;
    background-color: #1f2a37;
    overflow-x: hidden !important;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}


.header {
    background: #1f2a37;
    box-shadow: 3px 3px 3px #cccccc98;
}

.logo {
    text-align: center;
    width: 250px;
    border-left: 1px solid #ccc;
}

.logo a {
    color: #cbd5e1;
    font-size: 20px;
    font-weight: bold;
}

.icons i,
.users-canvas,
#sidebar-toggle {
    font-size: 20px;
    color: #cbd5e1;
    transition: 0.3s;
}

.icons i:hover {
    color: var(--second-color);
    transform: scale(1.1);

}

.sidebar {
    background-color: #1f2a37;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    color: white;
    width: 250px;
    height: calc(100vh - 40px);
    position: fixed;
    transition: 0.3s;
    overflow: hidden;
    overflow-y: scroll;
    top: 45px;
    z-index: 1000 !important;

}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile img {
    width: 90px;
    border-radius: 50%;
    border: 1px solid #ccc;
    padding: 3px;
    margin-top: 15px;
}

.profile h3 {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 15px;
}

.sidebar-ul {
    padding: 0;

}

.active {
    background: #334155;
    color: var(--second-color);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(56, 189, 248, 0.2);
}

.sidebar-ul li {
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.sidebar-ul li:hover {
    background: #2f3e52;
    border-radius: 8px;
}

.sidebar-ul a,
.sidebar-ul i {
    font-weight: bold;
    padding: 5px;
    color: #cbd5e1;

}

.sidebar i {
    color: var(--second-color);
}

.avatar img {
    width: 35px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.content {

    margin-right: 250px;
    height: calc(100vh - 40px);
    margin-top: 55px;
    transition: 0.3s;
}


@media (max-width:767px) {
    .sidebar {
        width: 250px;
        right: -250px;
    }

    .content {
        margin-right: 0;
    }
}


#sidebar::-webkit-scrollbar {
    width: 10px;
}

#sidebar::-webkit-scrollbar-track {
    background: #ccc;
    border-radius: 10px;
}

#sidebar::-webkit-scrollbar-thumb {
    background: #eee;
    border-radius: 10px;
}

#sidebar::-webkit-scrollbar-thumb:hover {
    background: rgb(132, 132, 132);

}

.bell::after {
    position: absolute;
    content: "5";
    background-color: var(--second-color);
    border-radius: 50%;
    font-size: 8px;
    width: 12px;
    height: 12px;
    color: white;
    top: -5px;
    right: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stat {

    background: linear-gradient(135deg,
            #2c3e50 0%,
            #223140 100%);
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    margin: 5px;
    border-right: 4px solid #3498db;
    border-radius: 12px;
    padding: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.stat:hover {
    transform: translateY(-8px);
}


.stat h3 {
    font-size: 20px;
    font-weight: bold;
    font-family: almarai;
    color: rgba(255, 255, 255, 0.7);
}

.stat h4 {
    font-size: 18px;
    font-weight: bold;
    font-family: almarai;

    color: #ffffff;
}

.stat i {
    color: var(--second-color)
}

.card-chart {
    background: var(--main-color);
}

.card-chart p {
    color: #ffffff;
    font-weight: bold;
}

.item-side-list {
    background-color: #eee;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--second-color);
}

.avatar-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.grow-user {
    position: absolute;
    top: 0;
}

.avatar-info img {
    border-radius: 50%;
    border: 1px solid #191919;
    padding: 3px;
}

.avatar-info h4 {
    font-weight: 600;
    font-size: 20px;
}

.contact-icons {
    display: flex;
    gap: 10px;
}

.contact-icons i {
    font-size: 20px;
    transition: 0.3s;

}

.contact-icons i:hover {
    transform: scale(1.2);
}

.whatsapp-icon {
    color: #43e97b;
}

.messenger-icon {
    color: #00B2FF;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 40000;
}


.messages-container {
    cursor: pointer;
}

.messages-area {
    background-color: white;
    padding: 0;
    width: 300px;
    top: 40px;
    left: -20px;
    border-radius: 5px;
    border-bottom: 1px solid var(--second-color);
    display: none;
}

.messages-area li {
    padding: 5px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.messages-area li:hover {
    background-color: #eee;
}

.messages-header {
    background-color: var(--second-color);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: relative;
}

.messages-header::after {
    position: absolute;
    content: "";
    top: -27px;
    left: 20px;
    border: 15px solid;
    border-color: transparent transparent var(--second-color) transparent;

}

.messages-header h3 {
    font-size: 18px;
    color: white;
}

.item-menu-right {
    align-items: center;
}

.item-menu-right img {
    border-radius: 50%;
    border: 1px solid #ccc;
}

.item-menu-right h4 {
    font-size: 18px;

}

.messages-container ul li i {
    color: var(--main-color);
}

.offcanvas-title {
    color: white;
}

.offcanvas-online {
    background-color: var(--main-color);
}



/* students page */

.students-title {
    color: white;
    text-align: center;
}

.add-student {
    background-color: var(--second-color);
    color: white;
}

.add-student:hover {
    background-color: #129bd6;
}

.dropdown-students {
    background-color: var(--second-color);
    color: white;
    border: none;
}

.dropdown-students:hover {
    background-color: #129bd6;
}

.add-student-modal {
    background-color: var(--main-color);
    color: white;
}

.add-student-modal-btn {
    background-color: var(--second-color);
    color: white;
}

.add-student-modal-btn:hover {
    background-color: #129bd6;
}

.edit-student-modal {
    background-color: var(--main-color);
    color: white;
}

.edit-student-btn {
    background-color: var(--second-color);
    color: white;
}

.edit-student-btn:hover {
    background-color: #129bd6;
}

.delete-student-modal {
    background-color: var(--main-color);
    color: white;
}

.delete-student-btn {
    background-color: var(--second-color);
    color: white;
}

.delete-student-btn:hover {
    background-color: #129bd6;
}


/* courses page */

.courses-title {
    color: white;
    text-align: center;
}

.add-course {
    background-color: var(--second-color);
    color: white;
}

.add-course:hover {
    background-color: #129bd6;
    color: white;
}

.courses-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.course-card {
    border: 1px solid #2e4c63;
    padding: 15px;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
    background-color: var(--main-color);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.course-card:hover {
    transform: translateY(-5px);
}

.course-card h5 {
    font-weight: bold;
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 1.3;

}

.course-card p,
.course-card span {
    color: rgba(255, 255, 255, 0.7);
    font-weight: bold;

}

.status {
    background: #1f8f4e;
    padding: 10px 10px;
    border-radius: 20px;
    font-size: 13px;

}

.status-off {
    background: rgb(204, 109, 109);
    padding: 10px 10px;
    border-radius: 20px;
    font-size: 13px;
}



.card-actions .edit {
    background-color: var(--second-color);
    color: white;
}

.card-actions .edit:hover {
    background-color: #129bd6;
}

/* Blog page */

.blog-title {
    color: white;
    text-align: center;
}

.add-blog {
    background-color: var(--second-color);
    color: white;
}

.add-blog:hover {
    background-color: #129bd6;
    color: white;
}

.blog-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.blog-card {
    background: #243447;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #2e4c63;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
}

.blog-card:hover {
    transform: translateY(-5px);
}

.blog-img {
    width: 100%;
    height: 140px;
    object-fit: cover;
}

.blog-content {
    padding: 18px;
    display: flex;
    flex-direction: column;
    height: 100%;
}


.blog-card h3 {
    color: #ffffff;
    margin-bottom: 10px;
}

.blog-card p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    margin-bottom: 15px;
}

.blog-date {
    font-size: 13px;
    color: #4cc9f0;
    margin-bottom: 15px;
}

.blog-actions {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
}

.edit-btn {
    background-color: var(--second-color);
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    transition: 0.3s;
}

.edit-btn:hover {
    background-color: #129bd6;
    color: white;
}

.delete-blog-modal{
    background-color: var(--main-color);
    color: white;
}

.btn-delete-blog{
     background-color: var(--second-color);
    color: white;
}

.btn-delete-blog:hover{
    background-color: #129bd6;
    color: white
}



/* Add post page */
.add-post-title {
    color: white;
    text-align: center;
}

.add-post-card {
    border: 2px dashed var(--second-color);
    border-radius: 10px;
    background-color: var(--main-color);
    color: white;

}

.form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 20px;
}

.save-btn {
    background: var(--second-color);
    color: white;
}

.save-btn:hover{
    background-color: #129bd6;
    color: white
}

.draft-btn {
    background: #555;
    color: white;
}

.draft-btn:hover {
    background: #454545;
    color: white;

}

